input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea { line-height:auto; width: 100%; height: auto; margin-bottom: 0; padding: 0 0; -webkit-user-select: text; border:none; border-radius: 0px; outline: 0; background-color: #fff; -webkit-appearance: none }

* { margin: 0px; padding: 0px; }
i, em, strong, b { font-style: normal; font-weight: normal; }
.wrapper { max-width: 800px; min-width: 320px; height:100%; margin: 0 auto; background: #efefef; position: relative;}
#wrapper { width: 100%; height: 100%; background:#383c55; }
html, body { background: #ccc; width: 100%; height: 100%; font-size:24px; color: #818181; }
.htmleaf-container { height:100%;}
@media screen and (min-width:768px) and (max-width:959px) {
html, body { background: #ccc; width: 100%; height: 100%; font-size: 36px; color: #818181; }
}
@media screen and (min-width:1025px) {
.wrapper1 { max-width: 800px; min-width: 320px; height:100%; margin: 0 auto; background: #fff; position: relative; overflow-x:hidden;}
}
div.screen { width:100%; height: 100%; position: relative; top: 0; right: 0; left: 0; bottom: 0; background: #fff; webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);}
div.screen.animate { left: -50%; -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); }
a { text-decoration: none; color: inherit; color: #818181; }
input { outline: none }
/*导航按钮*/
div.burger { height: 2rem; width: 2rem; position: absolute; top: 0; right: 0;background: #2497e8 }
div.x, div.y, div.z { position: absolute; background: #fff; border-radius: 2px; right: 0.4rem; -webkit-transition: all 1000ms; -moz-transition: all 1000ms; -ms-transition: all 1000ms; -o-transition: all 1000ms; transition: all 1000ms; }
div.x, div.y, div.z { height: 1px; width: 1rem; }
div.x { top: 0.7rem; }
div.y { top: 1rem; }
div.z { top: 1.3rem; }
div.open div.y { width: 0.7rem; }
div.open div.z { width: 0.4rem; }
div.navbar { width:100%;  position:fixed;  z-index: 10;height: 2rem;  background-color: #2497e8;}
@media screen and (min-width:959px) {div.navbar { left:0; right:0;}}

/*导航列表*/
.nav_line { height: 2rem; }
div.menu1 { background: #383c55; opacity:1; position:fixed; top: 0.2rem; height: 100%; width: 50%; left: 100%;  overflow: scroll; webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000);  }
div.menu1.animate { opacity: 1; margin-left: 0%; left:50%; webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); }
@media screen and (min-width:1025px) {div.menu1 { position:absolute; top:2rem;}}

div.menu{background: #383c55;}
div.menu dl { position: relative; width: 70%; height: 100%; margin: 0 auto; font-size:0.6rem; }
div.menu dl dt { color: #fff;line-height: 0.9rem; font-size:0.7rem; }
div.menu dl dd, div.menu dl dt { list-style: none; padding: 0.8rem 0; text-align: left; border-bottom: 1px dotted #b2b2b2; -webkit-transition: all 500ms; -moz-transition: all 500ms; -ms-transition: all 500ms; -o-transition: all 500ms; transition: all 500ms; position: relative;}
div.menu dl dd { background: url(../images/list.png) left center no-repeat; background-size: 0.4rem; text-indent: 0.6rem;  }
div.menu dl dd a { color: #fff; text-decoration: none; letter-spacing: 1px;}
div.menu.animate dl dd, div.menu.animate dl dt { -webkit-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -moz-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -ms-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); -o-transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); transition: all 500ms cubic-bezier(0.000, 0.995, 0.990, 1.000); left: 0 }
div.menu.animate dt:nth-of-type(1) { transition-delay: 0.0s; }
div.menu.animate dd:nth-of-type(2) { transition-delay: 0.0s; }
div.menu.animate dd:nth-of-type(3) { transition-delay: 0.06s; }
div.menu.animate dd:nth-of-type(4) { transition-delay: 0.12s; }
div.menu.animate dd:nth-of-type(5) { transition-delay: 0.18s; }
div.menu.animate dd:nth-of-type(6) { transition-delay: 0.24s; }
div.menu.animate dd:nth-of-type(7) { transition-delay: 0.32s; }
.logo { position: absolute; left: 0.2rem; color: #fff; line-height:2rem; font-size:15px; }
.logo img { width: 1.2rem; height:auto; margin-right: 0.1rem; float:left; margin-top:0.4rem; }
.user { position: absolute; top: 0; right: 1.5rem; width: 1.5rem; height: 1.5rem; text-align: center;}
.user img { width: 1rem; margin: 0.5rem auto; display: block; }
.sousuo { position: absolute; top: 0; right: 3rem; width: 1.5rem; height: 1.5rem; text-align: center; }
.sousuo img { width: 1rem; margin: 0.5rem auto; display: block; }
.menut { position: absolute; top: 0; right: 0rem; width: 1.5rem; height: 1.5rem; text-align: center; }
.menut img { width: 1rem; margin: 0.6rem auto; display: block; }
/*幻灯片*/
.hwslider { width:100%; height: auto; margin: 0 auto; position: relative; overflow: hidden; background: #ddd; }
.hwslider ul {width:100%; height: 100%; position: absolute; z-index: 1 }
.hwslider ul li { width:100%;display: none; position: absolute; left: 0; top: 0; height: 100%; overflow: hidden; }
.hwslider ul li.active { display: block; }
.hwslider ul li a { display: block; overflow: hidden; }
.hwslider ul li img { display: block; width:100%; }
.dots { position: absolute; bottom: 20px; left: 200px; min-width: 60px; height: 12px; z-index: 2; }
.dots span { float: left; width: 12px; height: 12px; border: 1px solid #fff; border-radius: 50%; background: #333; margin-right: 8px; cursor: pointer; }
.dots span.active { background: #208ad4 }
.arr { display: none; position: absolute; top: 2rem; z-index: 2; width: 40px; height: 40px; line-height: 38px; text-align: center; ; font-size: 36px; background: rgba(0,0,0,.3); color: #fff; text-decoration: none }
.arr:hover { background: rgba(0,0,0,.7); text-decoration: none; }
.hwslider:hover .arr { display: block; text-decoration: none; color: #fff }
.prev { left: 20px }
.next { right: 20px }
.line { height: 0.5rem; background: #efefef; }
.index_menu, .letters { display: -webkit-box; display: -moz-box; display: box; overflow: hidden; text-align: center; padding: 0.5rem 0; background: #fff; font-size:0.6rem;}
.index_menu a { -webkit-box-flex: 4; -moz-box-flex: 4; box-flex: 4; display: block; height: auto; line-height: 1rem; -webkit-transition: all 1000ms; -moz-transition: all 1000ms; -ms-transition: all 1000ms; -o-transition: all 1000ms; transition: all 1000ms; position: relative; }
.index_menu a img { display: block; width: 2rem; margin: 0.5rem auto; z-index: 2; position: relative; -webkit-transition: all 1000ms; -moz-transition: all 1000ms; -ms-transition: all 1000ms; -o-transition: all 1000ms; transition: all 1000ms; }
.index_menu a:hover { color: #208ad4; }
.index_menu span { -ms-transform: rotate(-30deg); -webkit-transform: rotate(-30deg); transform: rotate(-30deg); -webkit-transition: all 100ms ease-out; -moz-transition: all 100ms ease-out; -ms-transition: all 100ms ease-out; -o-transition: all 100ms ease-out; transition: all 100ms ease-out; width: 2rem; background: url(../images/menu_bg.png) no-repeat; background-size: 2rem auto; height: 2rem; display: block; position: absolute; left: 50%; top: 1.5rem; margin-left: -0.45rem; -webkit-transition: all 1000ms; -moz-transition: all 1000ms; -ms-transition: all 1000ms; -o-transition: all 1000ms; transition: all 1000ms; }
.index_menu a:hover span { opacity: 0.2; }
.index_menu a:hover img { -ms-transform: rotate(20deg); -webkit-transform: rotate(20deg); transform: rotate(20deg); }
.letters_tit { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; border-right: 1px solid #eee; }
.letters img { height: 0.8rem; margin-top: 0.5rem; }
.letters_list { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; color: #ddd; line-height:1rem }
.letters_list li { display: block; }
.letters_more { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; border-left: 1px solid #eee; }
.service { text-align: center; padding: 1rem 0; overflow: hidden; background: #fff; font-size:0.6rem; }
.service_tit { padding-bottom: 1rem; }
.service_tit span { display: inline-block; margin: 0 auto; }
.service_tit span img { float: left; height: 0.5rem; margin-right: 0.2rem; }
.service_con { display: -webkit-box; display: -moz-box; display: box; padding: 0.5rem 0; border-bottom: 1px solid #eee; border-top: 1px solid #eee; }
.service_con span { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; display: block; }
.service_con span a { display: inline-block; margin: 0.4rem auto; }
.service_con span img { float: left; height: 0.5rem; margin-right: 0.2rem; }
.service_con span:nth-child(1) { border-right: 1px solid #ddd; }
.service_input { padding: 1rem 0;  }
.service_input input[type=text] { width: 100%; display: block; margin: 0 auto; border: 1px solid #ddd; height:40px;; line-height: 40px; font-size: 0.6rem; text-indent: 0.3rem;}
.service_input input[type=submit] { height: 2rem; font-size: 0.6rem; color: #ff9000; border: 1px solid #ff9000; border-radius: 1px; background-image: url(../images/ss.png); padding: 0 1rem; margin-top: 0.5rem; background: none; }
.link { padding: 0.5rem 0; border: 1px solid #eee; border-right: none; border-left: none; background: #fff; text-align: center; color: #eee; height: 2rem; background: #f9f9f9; font-size:0.6rem; }
.link a { margin: 0 0.4rem; }
.footer { overflow: hidden; background: #f9f9f9; font-size:0.6rem; }
.version { display: block; text-align: center; height: 2rem; background: #f9f9f9; }
.version a { display: inline-block; border: 1px solid #ddd; margin: 0.4rem 0.2rem; padding: 0.1rem 0.2rem; font-size: 0.6rem; }
.footer { border-top: 1px solid #eee; margin: 0 auto; display: block; text-align: center; font-weight: 200; font-size: 0.6rem; line-height: 0.8rem; overflow: hidden; height: 3rem; overflow: hidden; }
.footer img { height: 1rem; display: block; margin: 0.5rem auto 0 auto; }
.login_banner { height: auto; overflow: hidden; position: relative; }
.login_banner span img { width:100%; }
.login_banner span { position: relative; z-index: 0; }
.login_banner a { display: block; width: 0.8rem; height: 0.8rem; position: absolute; left: 0.5rem; top: 0.5rem; z-index: 1; }
.login_banner a img { width:100%; }
.login_box { overflow: hidden; font-size:0.6rem; }
#login_box { font-size:0.6rem;}
.login_tit { display: block; margin: 0.5rem auto; border-radius: 2rem; border: 1px solid #56abd7; color: #56abd7; width: 4rem; height: 1rem; line-height: 1rem; text-align: center; }
.login_btn { display: -webkit-box; display: -moz-box; display: box; padding: 1rem 0 2rem 0;}
.login_btn a { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; display: block; text-align: center; }
.login_btn a img { width: 5rem; }
.login_tit2 { display: block; background: #f9f9f9; font-style: normal; text-align: center; overflow: hidden;}
.login_tit2 a { display: block; width: 5.4rem; height: auto; line-height: 1rem; border: 1px solid #eee; margin: 0.5rem auto; padding:0.2rem;  }
.login_tit2 a img { height: 0.4rem;  margin-left: 0.2rem; }
.reg_login { display: -webkit-box; display: -moz-box; display: box; width: 70%; padding: 1rem 0; margin: 0 auto; }
.reg_login a { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; display: block; text-align: center; margin: 0; color: #afafaf; line-height: 0.7rem;  font-size:0.7rem;}
.reg_login a:hover, .reg_login .on { color: #65b8ed; font-size: 0.7rem; }
.login_input { width: 70%; margin: 0 auto; }
.login_input input { border: none; border-bottom: 1px solid #ddd; font-size: 0.6rem; background-color:inherit; height: 40px;}
.wjmm { text-align: center; overflow: hidden; margin-bottom: 1rem; }
.wjmm a { }
/*充值*/
.top_bar { background: #fff; height: 2rem; }
.top_bar .return { float: left; display: block; height: 0.8rem; margin: 0.6rem; }
.top_bar .return img { height: 100%; }
.top_bar b { display: block; margin: 0 auto; width: 6em; text-align: center; line-height: 2rem; font-size: 0.7rem; font-weight: 200; }
.top-up_tab { height: auto; display: -webkit-box; display: -moz-box; display: box; overflow: hidden; background: #fff; }
.top-up_tab a { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; display: block; text-align: center; line-height: 2rem; border-bottom: 3px solid #eee; font-size:0.6rem; }
.top-up_tab .on { border-bottom: 3px solid #ff9c00; color: #ff9c00; }
.top-up_input { overflow: hidden; margin:0; background:#fff; padding:1rem 0;}
.top-up_input em { float: left; display: block; margin: 0 0.3rem; }
.top-up_input input { font-size: 0.8rem; border: none; background: url(../images/ss.jpg); border-left: 1px solid #ddd; border-radius: 0; text-indent: 0.2rem; float: left; width: 4rem; height:0.8rem; line-height:0.8rem; padding:0; margin:0 0 0 0.1rem; }
.top-up_input span { float: right; display: block; margin-right: 0.5rem; color: #ccc; padding:0; line-height:0.5rem}
.top-up_input span i, .top-up_input span img, .top-up_input span b { font-size: 0.5rem; margin:0; padding:0; }
.top-up_input em img { height: 0.8rem; }
.top-up_input span img { height: 0.4rem; }
.rdo { padding: 0.5rem 3% 0.5rem 3%; width: 100%; overflow: hidden; background:#fff; }
.rdolist, .chklist { display:none;}
.rdobox, .chkbox { display: inline-block; height: 1.5rem; line-height: 1.5rem; background: #fff; color: #666; position: relative; width: 32.1%; border: 1px solid #ddd; margin: 0.3rem 0 }
.check-image { display: inline-block; width: 1rem; height:1rem; position: absolute; right: 0; bottom: 0; z-index:11; }
.unchecked { background: #fff; color: #666; transition-property: background; transition-delay: 0s; transition-duration: .1s; transition-timing-function: linear; }
.unchecked:hover { background: #fff; }
.checked { background: #fff; color: #fff; border: 1px solid #ff9c00; }
.rdobox img { height:1rem; margin:0.25rem 0; float: left; width: 69px !important;}
.radiobox-content { height: 1.5rem; display: block; position: absolute; left: 0; top: 0; z-index:0; }
.checked .check-image { background: url(../images/input-checked.png); background-size: 100% auto; }
.unchecked .check-image { background: url(../images/input-unchecked.png); background-size: 100% auto; }
.xuzhi { padding: 1rem 0; text-align: center; line-height: 0.4rem; vertical-align: text-bottom; font-size:0.6rem; }
.xuzhi img { height: 0.3rem; }
.top-up_btn { overflow: hidden; padding: 1rem; }
/*弹窗*/


.close { float: right; font-size: 1rem; line-height:1rem; padding:0; margin:0; font-weight: 700; color: #000; text-shadow: 0 1px 0 #fff; filter: alpha(opacity=20); opacity: .2 }
.close:focus, .close:hover { color: #000; text-decoration: none; cursor: pointer; filter: alpha(opacity=50); opacity: .5 }
button.close { -webkit-appearance: none; padding: 0; cursor: pointer;  }
.modal-open { overflow: hidden }
.modal { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 211050; display: none; overflow: hidden; -webkit-overflow-scrolling: touch; outline: 0 }
.modal.fade .modal-dialog { -webkit-transition: -webkit-transform .3s ease-out; -o-transition: -o-transform .3s ease-out; transition: transform .3s ease-out; -webkit-transform: translate(0, -25%); -ms-transform: translate(0, -25%); -o-transform: translate(0, -25%); transform: translate(0, -25%) }
.modal.in .modal-dialog { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0) }
.modal-open .modal { overflow-x: hidden; overflow-y: auto }
.modal-dialog { position: relative; width: 80%; margin: 2rem auto; }
.modal-content { position: relative; background-color: #fff; -webkit-background-clip: padding-box; background-clip: padding-box; border: 1px solid #999; border: 1px solid rgba(0,0,0,.2); border-radius: 6px; outline: 0; -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5); box-shadow: 0 3px 9px rgba(0,0,0,.5); overflow: hidden; }
.modal-backdrop { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1040; background-color: #000 }
.modal-backdrop.fade { filter: alpha(opacity=0); opacity: 0 }
.modal-backdrop.in { filter: alpha(opacity=50); opacity: .5 }
.modal-header { border-bottom: 1px solid #e5e5e5; background: #eee; overflow:hidden; padding:0.3rem; }
.modal-header .close { float:right; margin:0; }
.modal-title { margin: 0; float:left; line-height:1rem; font-weight:normal; font-size:0.6rem }
.modal-body { position: relative; padding: 15px }
.modal-scrollbar-measure { position: absolute; top: -9999px; width: 50px; height: 50px; overflow: scroll }
.xuzhi_con { padding: 0.5rem 5%; width: 100%; font-size:0.6rem; line-height:1rem; }
.h15 { height: 1.5rem; }
.h20 { height: 2rem; }
.top-up_con2 { overflow: hidden; }
.top-up_box2 { overflow: hidden; border-bottom: 1px solid #eee; padding: 0.3rem 0 }
.top_up_left { width: 20%; text-align: right; float: left; font-size:0.6rem; padding:0.5rem 0; }
.top_up_right { float: left; width: 75%; margin-left: 5%; font-size:0.6rem; padding:0.5rem 0; }
.top_up_right select { background: url(../images/select_down.png) right center no-repeat #fff; font-size: 0.6rem; width: 80%; text-align: center; border: none; color: #818181; background-size: 1em auto; appearance: none; -moz-appearance: none; -webkit-appearance: none; outline: none; }
.top_up_right input { font-size: 0.6rem; border: none; }
.top_up_right font { color: #ed7b00; }
.navbar .return { float: left; display: block; height: 0.8rem; margin: 0.6rem; }
.navbar .return img { height: 100%; }
.navbar .tit { display: block; margin: 0 auto; width: 8em; text-align: center; line-height: 2rem; font-size: 0.6rem; font-weight: normal; color: #fff; }
.user_box, .user_bottom { width: 100%; overflow: hidden; padding: 1rem 5%; background:#fff; }
.user_box {background: #2497e8;color: #bde4ff;  }
.user_box a, .user_bottom a { color: #bde4ff; }
.user_bottom b,.user_bottom i {font-weight:normal;}
.user_img { float: left; }
.user_img img { width: 60px; height:60px; -webkit-border-radius: 30px;-webkit-background-clip: padding-box;-moz-border-radius: 30px;-moz-background-clip: padding;border-radius: 30px;background-clip: padding-box;}
.user_txt { float: left; line-height: 1.2rem; margin-top:0.2rem; margin-left: 15px;}
.user_txt font { font-size: 0.6rem; }
.user_txt span { display: block; overflow: hidden; font-size:0.6rem; }
.user_txt img { height: 12px; display: inline-block; vertical-align: middle }
.user_txt a { float: right;margin-left: 15px; }
.user_bottom { line-height: 1.2rem; }
.user_bottom span { display:block; float:left; }
.user_bottom a { display: block; float: right; padding: 0.2rem 0.6rem; border-radius: 0.1rem; background:#ffa200; color:#fff; margin-top:0.3rem; }
.user_bottom i { font-size: 12px; color:#ff7e00;  }
.user_menu { height: auto; margin: 0 auto; background: #fff; overflow: hidden; padding:0; }
.user_menu span {  width:100%; overflow:hidden; display: -webkit-box; display: -moz-box; display: box; }
.user_menu a { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; display: block; text-align: center; border-top:none; border-left:none;  padding:15px 0 0;}
.user_menu b { width:4rem; display:block; margin:0 auto; line-height:3em; font-weight:normal; font-size:0.6rem}

.user_menu span:nth-child(2) a { border-bottom:none;}
.user_menu img { width:1rem; height:1rem; display:block; margin:0 auto;}
.user_list { overflow: hidden; background: #fff; }
.user_list li { display: block; width:100%; padding: 1rem 5%; border-bottom: 1px solid #eee;  font-size:0.6rem;}
.user_list li img { width:0.8rem; vertical-align: middle; }
.user_list li em { margin-left:1rem; }
.user_list li b { float: right; }
.user_list li b img { width:auto; height:0.8rem;}
.user_list a { color:#818181;}
.user_list i { font-size:0.8rem; color:#333;}
/*下拉*/ 
.topmenu { background: #fff; height: 1.5rem; position:relative; width:100%; padding-bottom:1rem  }
.topmenu dt { width: 33.3%; float: left; display:block;}
.selectlist { height: auto; box-sizing: border-box;  }
.selectlist p { font-size:0.6rem;}
.select_textdiv { height: 2rem; line-height: 2rem; text-align: center; border-bottom: 1px solid #eee; position: relative; border-left: 2px solid -webkit-linear-gradient(red, blue);width:100%; background:#fff; }
.select_textul { background: #ddd; line-height: 1.5rem; box-sizing: border-box; display: none; overflow-y: scroll; height: 100%; width:100%; }
.select_first_ul { position: absolute; box-sizing: border-box; left: 0; height: 100%; background: #fff; width:100%; }
.select_first_ul>li { padding: 0 0.5rem; box-sizing: border-box; background: #fff;width:100%; overflow:hidden;  }
.select_first_ul>li>p { width: 50%; box-sizing: border-box; border-bottom: 1px #eee solid; }
.focus>p { border-bottom: 1px #208ad4 solid !important; color: #208ad4; }
.select_second_ul { width: 50%; position: absolute; right: 0px; top: 0; background: #fff; display: none; box-sizing: border-box; padding-left: 0.5rem; }
.down { position: absolute; top: 0; right: 0.5rem; display: inline-block; width: 0.5rem; height: 100%; background: url(../images/down.png) center center no-repeat; background-size: 0.6rem auto; }
.divfocus .down { background: url(../images/down2.png) center center no-repeat; background-size: 0.6rem auto; }
.divfocus::after { position: absolute; bottom: 0; left: 46%; border-bottom: 0.2rem solid #208ad4; border-left: 0.2rem solid transparent; border-right: 0.2rem solid transparent; content: ""; }
.focusli { background: #ffc107; color: #FFFFFF; }
.select_second_ul>li { padding: 0 0.5rem; box-sizing: border-box; border-bottom: 1px solid #eaeaea; }
.divfocus p { color: #208ad4; }
.divfocus .dowm { }
.shop_list { overflow: hidden; background: #fff; width:100%; }
.shop_list li { width: 100%; overflow: hidden; display: block; padding: 0.5rem 5%; border-bottom: 1px solid #eee; }
.shop_list li i { display: block; float: left; width: 25%; border: 1px solid #eee; }
.shop_list li i img { width:100%; }
.shop_list li span { display: block; float: right; width: 72%;  font-size: 0.6rem;line-height: 1rem;  }
.shop_list li a font { color: #82ce44; border: 1px solid #82ce44; display: inline-block; padding: 0 0.1rem; margin-right: 0.2rem; font-size: 0.6rem;line-height: 0.6rem;  }
.shop_list li p { overflow: hidden; display: block; margin-top: 0.2rem; }
.shop_list li p b, .shop_list li em,.shop_list li strong { display: block; float: left; line-height: 0.8rem; font-size: 0.4rem; padding: 0 0.1rem; margin-right: 0.2rem }
.shop_list li b { border: 1px solid #ea5a04; color: #ea5a04; }
.shop_list li em { border: 1px solid #61bd9d; color: #61bd9d; }
.shop_list li strong { color: #f00; font-size:0.6rem; }
.shop_list li:last-child { border-bottom: none; }
.shop_info_img { overflow: hidden; }
.shop_info_img img { margin: 0; padding: 0; display: block; width:100%; }
.shop_info_tit { width: 100%; overflow: hidden; padding: 0.3rem 5%; background: #fff; font-size:14px; line-height:20px; }
.shop_info_tit a font { color: #82ce44; border: 1px solid #82ce44; display: inline-block; padding: 0 0.1rem; margin-right: 0.2rem; font-size: 0.6rem; line-height:normal; }
.shop_info_tit p { overflow: hidden; display: block; margin-top: 0.2rem; text-align: right; }
.shop_info_tit p strong { color: #f00; float: left; font-size: 0.8rem; }
.shop_info_tit p a { vertical-align: middle; color: #818181; margin-left: 0.3rem; font-size:0.6rem; }
.shop_info_tit p a img { height: 0.6rem; }
.shop_info_span { width: 100%; overflow: hidden; display: block; border: 1px solid #eee; padding: 0.5rem 5%; background: #fff; border-right: none; border-left: none; }
.shop_info_span a { vertical-align: middle; color: #ffa03b; font-size: 0.6rem; margin-right: 0.3rem; }
.shop_info_span a img { height: 0.55rem; }
.gmxz_con { width: 100%; padding:1rem 5%; overflow: hidden; background: #fff; font-size:0.6rem; }
.gmxz_con span { overflow: hidden; display: block; }
.gmxz_con b, .gmxz_con em { display: block; float: left; line-height: 1rem; margin-right: 0.3rem; }
.wxts { overflow: hidden; background: #fff; }
.wxts img { width:100%; }
.shop_xq { overflow: hidden; line-height: 0.8rem; background: #fff; }
.shop_xq .shop-user, .shop_xq p { width: 100%; overflow: hidden; display: block; padding: 1rem 5%;  font-size:0.6rem;}
.shop_xq span img { float: left; width: 2rem; margin-right: 0.3rem; }
.shop_xq b { display: block; color: #333; }
.shop_xq p { border-top: 1px solid #eee; border-bottom: 1px solid #eee; line-height: 1rem; display: -webkit-box; display: -moz-box; display: box; }
.shop_xq p a { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; display: block; text-align: center; vertical-align: middle; width:25%; font-size: 0.6rem; }
.shop_xq p a img { height: 0.6rem; margin-right: 0.2rem; }
.shop_date { display: -webkit-box; display: -moz-box; display: box; background: #fff; overflow: hidden; padding: 0.5rem 0; line-height:1rem }
.shop_date p { -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; display: block; text-align: center; vertical-align: middle; font-size: 0.6rem; }
.shop_date p b { font-weight: bold; display: block; }
.mzsm { width: 100%; overflow: hidden; background: #f9f9f9; padding: 1rem 5%; font-size:0.6rem; line-height:1.2rem; }
#goumai { height:2rem; line-height:1em; color: #fff;  border: none; border-radius: 1px; width:100%; font-size:0.6rem;}
.ptxx { overflow: hidden; background: #fff; }
.ptxx li { display: block; width: 96%; padding: 0.2rem; border: 1px solid #eee; overflow: hidden; margin: 0.3rem auto; text-align: right; color: #ddd; font-size:0.6rem; line-height:1.2rem; }
.ptxx li i { display: block; width: 0.3rem; height: 0.3rem; border: 1px solid #eee; overflow: hidden; float: left; border-radius: 0.3rem; margin: 0.4rem; }
.ptxx li a { float: left; }
.shop_classification { overflow: hidden; background: #fff; line-height: 1rem; padding-bottom: 1rem; }
.shop_classification dt { overflow: hidden; border-bottom: 1px solid #eee; color: #208ad4; background: url(../images/fl_ico.png) 0.3rem center no-repeat; text-indent: 0.6rem; background-size: 0.2rem auto; font-size:0.6rem; padding:0.5rem 0; }
.shop_classification dd { overflow: hidden; background: #fff; line-height: 1rem; display: -webkit-box; display: -moz-box; display: box; line-height:1.5rem; }
.shop_classification dd a { border-bottom: 1px solid #eee; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; display: block; font-size: 0.4rem; display: block; text-indent: 0.3rem; }
.shop_classification dd a:first-child { border-right: 1px solid #eee; }
.order_list { width:100%; padding: 0.3rem 5%; overflow: hidden; background: #fff; font-size:0.8rem; line-height:1.2rem; }
.order_list li { margin: 0.3rem auto; display: block; overflow: hidden; }
.order_list li a { display: block; }
.order_list li b { float: left; font-size: 0.6rem; color: #ccc; }
.order_list li font { color: #fcaf2a; font-size: 0.6rem; float: right; }
.zijin_list { overflow: hidden; background: #fff; font-size:0.6rem; width:100%; }
.zijin_list li { width: 100%; line-height:1rem; padding: 0.3rem 5%; margin: 0 auto 0.3rem auto; display: block; overflow: hidden; border-bottom: 1px solid #eee; }
.zijin_list li font { font-size: 0.6rem; float: right; margin-top: 0.2rem; }
.orange { color: #fcaf2a; }
.green { color: #06cc5f; }
.zijin_list li span { display: block; float: left; }
.zijin_list b { font-size: 0.6rem; color: #ccc; margin-left: 0.2rem; \ }
.zijin_list em { font-size: 0.6rem; color: #ccc; display: block; }
.my_account_btn { overflow: hidden; background: #fff; padding: 0.5rem 0; }
.my_account { overflow: hidden; background: #fff; padding: 0; font-size:0.6rem; }
.my_account_btn input {  border-radius: 0; border: none; line-height: 1rem; font-size: 0.6rem; width: 90%; margin: 0 auto; display: block; color: #fff; }
.my_account dt, .my_account dd { width: 90%; padding: 0.3rem 5%; overflow: hidden; display: block; border-bottom: 1px solid #eee; line-height:1.2rem; }
.my_account dt img { float: left; height: 2rem; margin-top:0.5rem; margin-right: 0.3rem; }
.my_account dt { line-height: 3rem; }
.my_account dd img { height: 0.5rem; vertical-align: middle; margin-right: 0.2rem; }
.my_order_tit, .my_order_zt, .my_order_img { width: 100%; padding: 0.3rem 5%; background: #fff; font-size:0.6rem; line-height:1.2rem; }
.my_order_tit img { float: left; height: 1.5rem; margin-right: 0.3rem; }
.my_order_tit { line-height: 1.5rem; }
.my_order_zt { line-height:1.2rem; }
.my_order_zt font { color: #fcaf2a; }
.my_order_img img { width:100%;}
.my_order_zt span { display: block; overflow: hidden; }
.my_order_zt b { width: 3.5rem; text-align: right; display: block; float: left; }
.my_order_zt em, .my_order_zt font { display: block; float: left; }
.my_order_zt a { display: block; float: left; border: 1px solid #72bbe4; color: #72bbe4; padding: 0.2rem; line-height: 0.4em; border-radius: 0.1rem; margin: 0.2rem 0.09rem 0.09rem 0.2rem; }
.jyjl { text-align: center; overflow: hidden; background: #fff; padding: 0.2rem 0;  font-size:0.6rem;}
.jyjl em, .jyjl b { display: block; overflow: hidden; text-align: center; }
.jyjl em a { display: inline-block; margin: 0.3rem; border: 1px solid #eee; padding: 0.2rem; color:#818181; }
.jyjl b { padding: 0.3rem 0; margin-top: 0.2rem; }
.shopping_box { height:100%; position:relative; width:100%;}
.shopping { width:100%; overflow:hidden; padding:0.5rem 5%; font-size:0.6rem; border-bottom:1px solid #eee;}
.shopping input { font-size:0.6rem;}
.shopping textarea { background:#eee; padding:0.5rem; font-size:0.6rem; height:4rem; margin-top:0.5rem;}
#goumai22 input { height:2rem; line-height:1em; color: #fff;  border: none; border-radius: 1px; width:100%; font-size:0.6rem;}
#goumai22 { position:absolute; width:100%; bottom:0rem;}

.spinner-sprite, .spinner .decrease, .spinner .decrease[disabled], .spinner .increase, .spinner .value, .spinner .value.passive {  }
.spinner { height: 0.7rem; width: 2.1rem; overflow: hidden; float:right; }
.spinner button, .spinner .value { text-align: center; display: block; float: left; height: 100%; line-height: 0.7rem; margin: 0 }
.spinner button { border: none; width: 0.7rem; color: #e5312a;  padding: 0; outline: none }
.spinner .decrease { background:url(../images/jian.png) center center no-repeat; background-size:0.7rem auto; cursor: pointer; text-indent: -10000px }
.spinner .decrease[disabled] { cursor: default }
.spinner .increase { background:url(../images/jia.png) center center no-repeat; background-size:0.7rem auto; cursor: pointer; text-indent: -10000px }
.spinner .value {  width: 0.7rem; height: 0.7rem; border: none; color: #333; padding: 0px }
.spinner .value.passive {  color: #919191 }
.spinner .error, .spinner .invalid { background: #aa0000 }


.news_footer,.news_version { width:100%; height:auto; background:#f8f8f8; text-align:center; }
.news_version { font-size:0.5rem; padding:0.6rem 0;}
.news_version img { display:block; margin:0 1rem; width:1rem;}
.news_version a { display:inline-block; line-height:2em;}
.news_footer font { color:#0090ff;}
.news_footer { font-size:0.5rem; padding:0.4rem 0; border-top:1px solid #eee;}
.news_footer img { display:block; margin:0.4rem auto 0 auto; width:2em}

